# Kích hoạt RewriteEngine
RewriteEngine On

# Chuyển hướng HTTP sang HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Chuyển hướng các yêu cầu vào thư mục "public"
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]